.footer {
    background-color: #232323;
    height: 40vh;
    

    &__content {
        display: flex;
        
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    &__title {
        font-size: 24px;
        font-weight: bold;
        line-height: 1.08;
        letter-spacing: 3.36px;
        color: #fff;
        margin-top: 120px;
        text-transform: uppercase;
    }

    &__text {
        font-size: 16px;
        line-height: 1.63;
        letter-spacing: 1.6px;
        color: #ffffff;
        margin-bottom: 30px;
    }

    
}



.icon {
    width: 24px;
    height: 24px;
    margin-right: 10px;
}